<mat-card class="shipping-card">
  <!-- <mat-card-header>
    <mat-card-title>Shipping Information</mat-card-title>
  </mat-card-header> -->
  <mat-card-content>
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col">
            <mat-label>Monthly Investment &#8377;</mat-label>
            <mat-select [(ngModel)]="selectedCurrency">
              <input class="currency" matInput (keyup)="onKey($event.target.value)" placeholder="Type here to search">
              <mat-option *ngFor="let currency of selectedCurrencies" [value]="currency.code">{{currency.code}}
              </mat-option>
            </mat-select>
          </div>
          <div class="col">
            <input matInput [(ngModel)]="selectedConfiguration.installment" (keypress)="keyPress($event)">
          </div>
        </div>
        <mat-slider class="full-width" [max]="frequency.max" [min]="frequency.min" thumbLabel
          [displayWith]="formatLabel" [step]="frequency.step" [(ngModel)]="selectedConfiguration.installment"
          aria-labelledby="example-name-label" (input)="onInstallmentChange($event)">
        </mat-slider>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col">
            <mat-label>Expected Rate of Interest</mat-label>
          </div>
          <div class="col">
            <input matInput type="number" [(ngModel)]="selectedConfiguration.returnRate" (keypress)="keyPress($event)">
          </div>
        </div>
        <mat-slider class="full-width" [max]="expectedReturnRate.max" [min]="expectedReturnRate.min" thumbLabel
          [displayWith]="formatLabel" [step]="expectedReturnRate.step" [(ngModel)]="selectedConfiguration.returnRate"
          aria-labelledby="example-name-label" (input)="onInterestChange($event)">
        </mat-slider>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col">
            <mat-label>Time Period</mat-label>
          </div>
          <div class="col">
            <input matInput type="number" [(ngModel)]="selectedConfiguration.year" (keypress)="keyPress($event)">
          </div>
        </div>
        <mat-slider class="full-width" [max]="timePeriod.max" [min]="timePeriod.min" thumbLabel
          [displayWith]="formatLabel" [step]="timePeriod.step" [(ngModel)]="selectedConfiguration.year"
          aria-labelledby="example-name-label" (input)="onYearChange($event)">
        </mat-slider>
      </div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-5">
        <mat-label>Invested Amount</mat-label>
        <br />
        <mat-label>{{selectedConfiguration.totalInvestment | currency: 'INR'}}</mat-label>
      </div>
      <div class="col-3">
        <mat-label>Estimated Return</mat-label>
        <br />
        <mat-label>{{selectedConfiguration.estimatedReturn | currency: 'INR'}}</mat-label>
      </div>
    </div>
    <div class="row">
      <div class="col-5"></div>
      <div class="col">
        <mat-label>Total Value</mat-label>
        <br />
        <mat-label>{{selectedConfiguration.totalValue | currency: 'INR'}}</mat-label>
      </div>
      <div class="col"></div>
    </div>
  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </mat-card-actions> -->
</mat-card>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="save()" mat-dialog-close cdkFocusInitial color="primary" mat-raised-button>Ok</button>
</div>